@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700&display=swap');

/* Helper classes */

.bg-color {
    font-family: 'Crimson Text', serif;
    background-color: #d6d6d6f7;
    min-height: 100vh;
}


.hide-on-start {
    display: none;
}

.enemy-roll {
    display: none;
}

/* Header */

.title {
    font-size: 12rem;
    color: #1b1c1d;
}

/* Breaks */

.break1 {
    width: 370px;
    height: 2px;
    border: 0;
    background-color: #41292B;
}

.break2 {
    width: 370px;
    height: 1px;
    border: 0;
    background-color: #41292B;
}


#start-game {
    padding: .5rem 3rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .45rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/* Die Rolls */

.die-value {
    font-size: 3rem;
}

/* Forms */

.name-form {
    display: inline-block;
    width: 33%;
}
