@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700&display=swap');

/* Helper classes */

.bg-color {
    font-family: 'Crimson Text', serif;
    background-color: #d6d6d6f7;
    min-height: 100vh;
}


.hide-on-start,
.enemy-roll,
.player-roll,
.player-health,
.enemy-health,
.player-attack,
.enemy-attack,
.nav-login,
.shop-div,
.shop-content,
.restart{
    display: none;
}


/* Header */

.title {
    font-size: 9rem;
    color: #1b1c1d;
}

/* NavBar */

.nav-login {
    padding-top: 2px;
}

.navbar li a {
    color: white;
    text-align: center;
    padding: 0.6rem 0.8rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.navbar li a:hover {
    color: white;
}

/* Breaks */

.break1 {
    width: 275px;
    height: 2px;
    border: 0;
    background-color: #41292B;
}

.break2 {
    width: 275px;
    height: 1px;
    border: 0;
    background-color: #41292B;
}

/* Buttons */

#start-game,
#shop {
    padding: .5rem 3rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .45rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.img-button {
    height: 150px;
    width: 150px;
}

#load-button {
    background: url(../imgs/load.png);
    background-size: contain;
}

#attack-roll {
    background: url(../imgs/dag.png);
    background-size: contain;
}

#save-button {
    background: url(../imgs/save.png);
    background-size: contain;
}

#buy-hp {
    background: url(../imgs/hp-up.png);
    background-size: contain;
}

#buy-power {
    background: url(../imgs/power-up.png);
    background-size: contain;
}

#start-game {
    background: url(../imgs/bully-minion.png);
    background-size: contain;
}

#shop {
    background: url(../imgs/hanging-sign.png);
    background-size: contain;
}

#restart {
    background: url(../imgs/cycle.png);
    background-size: contain;
}
/* Die Rolls */

.die-value {
    font-size: 3rem;
}

/* Forms */

.name-form {
    display: inline-block;
    width: 33%;
}


/* Media Queries */

@media (max-width: 768px) {

    .name-form {
        width: 66%;
    }

}
